<img src='./img/intel-logo.jpg' width=50%, Fig1> 

# 판다스 기초강의
<font size=5><b>05.함수적용과 맵핑<b></font>

<div align='right'>성  민  석 (Minsuk  Sung)</div>
<div align='right'>류  회  성 (Hoesung Ryu)</div>

<img src='./img/pandas-logo.png' width=50%, Fig2> 

---

<h1>강의목차<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#apply()" data-toc-modified-id="apply()-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>apply()</a></span></li><li><span><a href="#applymap()" data-toc-modified-id="applymap()-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>applymap()</a></span></li></ul></div>

## apply()
각 로우나 컬럼의 1차원 배열에 함수를 적용

In [4]:
import pandas as pd 
df = pd.DataFrame([[1, 3, 5, 7], [2, 4, 6, 8], [10, 20, 30, 40]],
               columns=list('ABCD'), index=['X', 'Y', 'Z'])
df

    A   B   C   D
X   1   3   5   7
Y   2   4   6   8
Z  10  20  30  40

In [5]:
# 적용 할 함수
def diff (x):
    return x.max() - x.min()

In [11]:
# row 단위로 적용 axis=1
df.apply(diff,axis=1)

X     6
Y     6
Z    30
dtype: int64

In [13]:
# 컬럼단위로 적용 axis=0
df.apply(diff,axis=0)

A     9
B    17
C    25
D    33
dtype: int64

In [20]:
# 함수를 적용한 값을 새로운 컬럼에 할당 
df['E'] = df.apply(diff,axis=1)
df

    A   B   C   D   E
X   1   3   5   7   6
Y   2   4   6   8   6
Z  10  20  30  40  30

## applymap()
각 항목에 함수를 적용

In [19]:
# 보통의 경우, 파이썬에서 lambda 함수와 함께 적용한다
df.applymap(lambda x: x*2)

    A   B   C   D
X   2   6  10  14
Y   4   8  12  16
Z  20  40  60  80

In [17]:
# 적용 할 함수 
def mul2(x):
    return x * 2
df

    A   B   C   D
X   1   3   5   7
Y   2   4   6   8
Z  10  20  30  40

In [18]:
df.applymap(mul2)

    A   B   C   D
X   2   6  10  14
Y   4   8  12  16
Z  20  40  60  80